<!DOCTYPE html>
<html>
<head>
  <title>Pusher</title>
  <%= stylesheet_link_tag    "pusher/application", :media => "all" %>
  <%= javascript_include_tag "pusher/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
